
        body {
            background-color: #37b23b;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        .title {
            text-align: center;
            color: #000000;
            margin-bottom: 20px;
        }

        .form {
            width: 100%;
            max-width: 400px;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 0 auto;
        }

        .form label {
            display: block;
            text-align: left;
            margin-bottom: 5px;
            color: #714a2e;
        }

        .form input[type="text"],
        .form select {
            width: calc(100% - 20px);
            padding: 10px;
            margin: 5px 0 10px 0;
            border: 2px solid #714a2e;
            border-radius: 8px;
            font-size: 14px;
            box-sizing: border-box;
        }

        .form input[type="number"],
        .form select {
            width: calc(100% - 20px);
            padding: 10px;
            margin: 5px 0 10px 0;
            border: 2px solid #714a2e;
            border-radius: 8px;
            font-size: 14px;
            box-sizing: border-box;
        }

        .form input[type="date"],
        .form select {
            width: calc(100% - 20px);
            padding: 10px;
            margin: 5px 0 10px 0;
            border: 2px solid #714a2e;
            border-radius: 8px;
            font-size: 14px;
            box-sizing: border-box;
        }

        .form input[type="submit"] {
            background-color: #714a2e;
            color: #ffffff;
            border: none;
            padding: 12px 20px;
            font-size: 16px;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .form input[type="submit"]:hover {
            background-color: #5b3c22;
        }
   